@page
@model MusicalSalon.Application.Pages.Disks.IndexModel

<h2>Disks</h2>

<p>
    <a asp-page="Add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-sortOrder="id">@Html.DisplayNameFor(model => model.Disks.First().Id)</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="songId">@Html.DisplayNameFor(model => model.Disks.First().SongId)</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="price">@Html.DisplayNameFor(model => model.Disks.First().Price)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disk in Model.Disks)
        {
            <tr>
                <td>@disk.Id</td>
                <td>@disk.SongId</td>
                <td>@disk.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@disk.Id">Edit</a> |
                    <form method="post" asp-route-id="@disk.Id" asp-page-handler="Delete">
                        <button type="submit" class="text-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
