@page
@model MusicalSalon.Application.Pages.Disks.IndexModel

<h2>Диски</h2>

<p>
    <a asp-page="Add">Добавить</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-sortOrder="id">ID</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="title">Название</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="songId">Песня</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="price">Цена</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disk in Model.Disks)
        {
            <tr>
                <td>@disk.Id</td>
                <td>@disk.Title</td>
                <td>@disk.SongName</td>
                <td>@disk.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@disk.Id">Изменить</a> |
                    <form method="post" asp-route-id="@disk.Id" asp-page-handler="Delete">
                        <button type="submit" class="text-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
