@page
@model MusicalSalon.Application.Pages.Receipts.IndexModel

<h2>Поставки</h2>

<p>
    <a asp-page="Add">Добавить</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-sortOrder="id">Id</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="number">Номер поставки</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="recieveDate">Дата</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="providerName">Поставщик</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="quantity">Количество</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="fullPrice">Полная цена</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.Receipts)
        {
            <tr>
                <td>@receipt.Id</td>
                <td>@receipt.Number</td>
                <td>@receipt.RecieveDate</td>
                <td>@receipt.ProviderName</td>
                <td>@receipt.Quantity</td>
                <td>@receipt.FullPrice</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@receipt.Id">Изменить</a> |
                    <form method="post" asp-route-id="@receipt.Id" asp-page-handler="Delete">
                        <button type="submit" class="text-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    </table>
